In [1]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import tree
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_excel('dataDiabetesTugas.xlsx')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,No. Sample,preg,plas,pres,skin,insu,mass,pedi,age,class,NaN,Keterangan
2,NaN,1,6,148,72,35,0,33.6,0.627,50,tested_positive,NaN,Preg - Pregnancies - Number of times pregnant
3,NaN,2,1,85,66,29,0,26.6,0.351,31,tested_negative,NaN,plas - GlucosePlasma - glucose concentration a...
4,NaN,3,8,183,64,0,0,23.3,0.672,32,tested_positive,NaN,pres - BloodPressureDiastolic blood pressure (...

In [4]:
df.drop(columns = 'Unnamed: 11', inplace = True)
df.drop(columns = 'Unnamed: 12', inplace = True)
df.drop(columns = 'Unnamed: 0', inplace = True)
df.drop(index = [0, 1], inplace = True)

In [5]:
df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
2,1,6,148,72,35,0,33.6,0.627,50,tested_positive
3,2,1,85,66,29,0,26.6,0.351,31,tested_negative
4,3,8,183,64,0,0,23.3,0.672,32,tested_positive
5,4,1,89,66,23,94,28.1,0.167,21,tested_negative
6,5,0,137,40,35,168,43.1,2288,33,tested_positive

In [6]:
df.columns = ['No. Sample', 'preg', 'plas', 'pres', 'skin', 'insu', 'mass', 'pedi', 'age', 'class']

In [7]:
df = df.set_index('No. Sample')
df.head()

           preg plas pres skin insu  mass   pedi age            class
No. Sample
1             6  148   72   35    0  33.6  0.627  50  tested_positive
2             1   85   66   29    0  26.6  0.351  31  tested_negative
3             8  183   64    0    0  23.3  0.672  32  tested_positive
4             1   89   66   23   94  28.1  0.167  21  tested_negative
5             0  137   40   35  168  43.1   2288  33  tested_positive

In [8]:
X = df[['preg', 'plas', 'pres', 'skin', 'insu', 'mass', 'pedi', 'age']]
y = df['class']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state = 14)

In [10]:
tree_model = tree.DecisionTreeClassifier()

In [11]:
tree_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [12]:
predictions = tree_model.predict(X_test)

In [13]:
from sklearn.metrics import classification_report

print(classification_report(y_test,predictions))

                 precision    recall  f1-score   support

tested_negative       0.69      0.75      0.72        12
tested_positive       0.67      0.60      0.63        10

       accuracy                           0.68        22
      macro avg       0.68      0.68      0.68        22
   weighted avg       0.68      0.68      0.68        22

In [14]:
print('Accuracy:', metrics.accuracy_score(y_test, predictions))

Accuracy: 0.6818181818181818

In [29]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
rfc = RandomForestClassifier(n_estimators = 200)

In [32]:
rfc.fit(X_train, y_train)

RandomForestClassifier(n_estimators=200)

In [33]:
rfc_pred = rfc.predict(X_test)

In [35]:
print(classification_report(y_test,rfc_pred))

                 precision    recall  f1-score   support

tested_negative       0.77      0.83      0.80        12
tested_positive       0.78      0.70      0.74        10

       accuracy                           0.77        22
      macro avg       0.77      0.77      0.77        22
   weighted avg       0.77      0.77      0.77        22